@model WebDentalClinic.Models.LICHHEN

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/Layout_Nurse.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h2 style="text-align:center">Cập Nhật Lịch Hẹn</h2>
    <hr />
    <div class="col-md-12 col-md-offset-3">


        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">

            <div class="col-md-10">
                @Html.HiddenFor(model => model.MaLichHen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaLichHen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.HoTen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HoTen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SoDienThoai, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayHen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NgayHen, new { htmlAttributes = new { @class = "form-control", @Value = Model.NgayHen.ToString() } })
                @Html.ValidationMessageFor(model => model.NgayHen, "", new { @class = "text-danger" })

            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GioHen, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GioHen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GioHen, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TinhTrang, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                <div style="text-align:left">
                    @if (Model.TinhTrang == "CXN")
                    {
                        @Html.RadioButtonFor(model => model.TinhTrang, "CXN", new { @checked = true })
                        @Html.Label("Chưa xác nhận  ")
                        <br />
                        @Html.RadioButtonFor(model => model.TinhTrang, "DXN")
                        @Html.Label("Đã xác nhận")

                    }
                    else
                    {
                        @Html.RadioButtonFor(model => model.TinhTrang, "CXN")
                        @Html.Label("Chưa xác nhận ")
                        <br />
                        @Html.RadioButtonFor(model => model.TinhTrang, "DXN", new { @checked = true })
                        @Html.Label("Đã xác nhận")

                    }
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNhanVien, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @{Html.RenderAction("SelectBacSi", "LichHen");
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.GhiChu, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.GhiChu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.GhiChu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Cập Nhật Lịch Hẹn" class="btn btn-success" />
            </div>
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
