@model WebDentalClinic.Models.DICHVU

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layout_Nurse.cshtml";
}

<h2 class="login100-form-title" style="width:100%;">Xóa Dịch Vụ</h2>
<div class="limiter">
    <div class="col-md-12 col-sm-12">
        <form >
            <div class="col-md-12 col-md-offset-4">

                <hr />
                <h4>Bạn Chắc Chắn Xóa dịch vụ này Chứ?</h4>


                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.MaDichVu)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MaDichVu)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TenDichVu)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TenDichVu)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.DonGia)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DonGia)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.LoaiDichVu)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LoaiDichVu)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GhiChu)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GhiChu)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        @Html.ActionLink("Danh Sách Dịch Vụ", "Index", null, new { @class = "btn btn-info" })
                        <input type="submit" value="Xóa" class="btn btn-danger" /> 

                    </div>
                }
            </div>
        </form>
    </div>
</div>

