@model WebDentalClinic.Models.DICHVU

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layout_Nurse.cshtml";
}

<h2>Xóa Dịch Vụ</h2>

<h3>Bạn Chắc Chắn Xóa Chứ?</h3>
<div>
   
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaDichVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDichVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDichVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDichVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiDichVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiDichVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa Khỏi Danh Sách" class="btn btn-default" /> |
            @Html.ActionLink("Xóa", "Index")
        </div>
    }
</div>
