@model WebDentalClinic.Models.DICHVU

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Layout_Nurse.cshtml";
}

<h2>Chi Tiết Dịch Vụ</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaDichVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDichVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenDichVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDichVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiDichVu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiDichVu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>

</div>
<p>
    @Html.ActionLink("Chỉnh Sửa", "Edit",  new {id=Model.MaDichVu }) |
    @Html.ActionLink("Danh Sách Dịch Vụ", "Index")
</p>
