@model IEnumerable<WebDentalClinic.Models.DICHVU>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Nurse.cshtml";
}
<div class="container body-content">


    <h2>Danh Sách Dịch Vụ</h2>

    <p>
        @Html.ActionLink("Thêm Mới Dịch Vụ", "Create", null, new { @class = "btn btn-success" })
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaDichVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenDichVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LoaiDichVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MaDichVu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TenDichVu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LoaiDichVu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GhiChu)
                </td>
                <td>
                    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = item.MaDichVu }) |
                    @Html.ActionLink("Chi Tiết", "Details", new { id = item.MaDichVu }) |
                    @Html.ActionLink("Xóa", "Delete", new { id = item.MaDichVu })
                </td>
            </tr>
        }

    </table>
    </div>