@model WebDentalClinic.Models.PHIEUKHAM

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/Layout_Nurse.cshtml";
}



    <h2 class="login100-form-title" style="width:100%;">Xóa Phiếu Khám</h2>
    <div class="limiter">
        <div class="col-md-12 col-sm-12">
            
            <div class="col-md-12 col-md-offset-4">

                <hr />
                <h4>Bạn Chắc Chắn Xóa phiếu khám này Chứ?</h4>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.NgayKham)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NgayKham)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.GioKham)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.GioKham)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NgayTaiKham)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NgayTaiKham)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.MoTaTrieuChung)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.MoTaTrieuChung)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.TinhTrang)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.TinhTrang)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BENHNHAN.HoTen)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BENHNHAN.HoTen)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.NHANVIEN.HoTen)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.NHANVIEN.HoTen)
                    </dd>

                </dl>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                @Html.ActionLink("Danh Sách Phiếu Khám", "Index", null, new { @class = "btn btn-info" })
                <input type="submit" value="Delete" class="btn btn-danger" /> |

            </div>
                }
            </div>
            </div>
        </div>

