@model IEnumerable<WebDentalClinic.Models.PHIEUKHAM>

@{
    ViewBag.Title = "IndexBacSi";
    Layout = "~/Views/Shared/_LayoutDentist.cshtml";
}

<h2>Danh Sách Phiếu Khám</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaNhanVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaBenhNhan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayKham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioKham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTaiKham)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTaTrieuChung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>

    <td>
        @Html.DisplayFor(modelItem => item.BENHNHAN.HoTen)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayKham)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.GioKham)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NgayTaiKham)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.MoTaTrieuChung)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TinhTrang)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.NHANVIEN.HoTen)
    </td>
    <td>
        @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = item.MaPhieuKham }) |
        @Html.ActionLink("Chi Tiết", "Details", new { id = item.MaPhieuKham }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.MaPhieuKham })
    </td>
</tr>
}

</table>
