@using PagedList.Mvc;
@model PagedList.PagedList<WebDentalClinic.Models.PHIEUKHAM>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Nurse.cshtml";
}
<div class="container body-content"> 
    <h2 style="text-align:center">Danh Sách Phiếu Khám</h2>
    @using (Html.BeginForm("Index", "PhieuKham",FormMethod.Get))
    {
        <p>

            Nhập Tên Bệnh Nhân :
            @Html.TextBox("SearchString")
            Nhập Ngày Khám :
            @Html.TextBox("SearchDate", null, new { @type = "date" })
            <input type="submit" value="Tìm kiếm" class="btn btn-info" />

        </p>
    }
    <p>
        @Html.ActionLink("Tạo Phiếu Khám Mới", "Create", null, new { @class = "btn btn-success" })
    </p>
    <table class="table">
        <tr>
            <th>
                <p>Họ tên</p>
            </th>
            <th>
                <p>Ngày khám</p>
            </th>
            <th>
                <p>Giờ khám</p>
            </th>
            <th>
                <p>Ngày tái khám</p>
            </th>
            <th>
                <p>Mô tả triệu chứng</p>
            </th>
            <th>
               <p>Tình trạng</p>
            </th>

            <th>
                <p>Bác sĩ</p>
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.BENHNHAN.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayKham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GioKham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayTaiKham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoTaTrieuChung)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TinhTrang)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.NHANVIEN.HoTen)
                </td>
                <td>
                    @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = item.MaPhieuKham }) |
                    @Html.ActionLink("Thông Tin Khám", "ChiTietPhieuKhamNurse", new { id = item.MaPhieuKham }) |
                    @Html.ActionLink("Xoá", "Delete", new { id = item.MaPhieuKham })
                </td>
            </tr>
        }

    </table>
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
</div>