@model WebDentalClinic.Models.PHIEUKHAM

@{
    ViewBag.Title = "ChiTietphieukham";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<div>
    <br /><br />
    <h4> Chi Tiết Phiếu Khám </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <p> Ngày Khám :</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayKham)
        </dd>

        <dt>
            <p> Giờ Khám :</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioKham)
        </dd>

        <dt>
            <p> Ngày Tái Khám :</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTaiKham)
        </dd>

        <dt>
            <p> Mô Tả Triệu Chứng :</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTaTrieuChung)
        </dd>

        <dt>
            <p> Tình Trạng :</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

        <dt>
            <p> Họ Tên Bệnh Nhân :</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BENHNHAN.HoTen)
        </dd>

        <dt>
            <p> Họ Tên Bác Sĩ Khám :</p>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NHANVIEN.HoTen)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
