@model WebDentalClinic.Models.NHANVIEN
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/LayoutLoginEmloyee.cshtml";
    var BN = Session["MaBenhNhan"];
}

@using (Html.BeginForm("Login", "RegisterEmloyee"))
{
    @Html.AntiForgeryToken();
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100" style="width:300px;padding-right:-30px;">

                <div class="col-md-12 col-sm-12">
                    <form class="login100-form validate-form">


                        <div class="form-horizontal">
                            <div class="wrap-input100 validate-input">
                                <div class="form-horizontal">
                                    <h2 style="font-family:'Times New Roman'">Đăng Nhập</h2>
                                    <hr />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                    <div class="form-group">

                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.SoDienThoai, new { htmlAttributes = new { @class = "form-control", placeholder = "Số Điện Thoại" } })
                                            @Html.ValidationMessageFor(model => model.SoDienThoai, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="wrap-input100 validate-input" data-validate="Password is required">
                                    <div class="form-group">

                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", placeholder = "Mật Khẩu", type = "password" } })
                                            @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Đăng Nhập" class="btn btn-default" style="background-color:darkgreen; color:white" />
                                    </div>
                                </div>

                                

                                <div class="form-horizontal">
                                    <a class="txt2" href="~/RegisterEmloyee/Create">
                                        Create your Account
                                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
  
}
