@model IEnumerable<WebDentalClinic.Models.CHITIETPHIEUKHAM>

@{
    ViewBag.Title = "ChiTietBaoCaoDoanhThu";
    Layout = "~/Views/Shared/Layout_Nurse.cshtml";
}

<h2 style="text-align:center">Chi Tiết Hóa Đơn</h2>

<p>
    @Html.ActionLink("Quay Lại", "BaoCaoDoanhThu")
</p>
<div class="container body-content">
    <table class="table">
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.MaDichVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th>Đơn Giá</th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>

        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.DICHVU.TenDichVu)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SoLuong)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.DICHVU.DonGia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GhiChu)
                </td>
            </tr>
        }

    </table>
    </div>