@model IEnumerable<WebDentalClinic.Models.BENHNHAN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout_Nurse.cshtml";
}
<div class="container body-content">
  

        @using (Html.BeginForm("Index", "CreateProfile", FormMethod.Get))

        {

        <p style="padding-left:100px;">

            Nhập Tên Bệnh Nhân :
            <span style="border:solid;"> @Html.TextBox("SearchString")</span>
            <input type="submit" value="Tìm kiếm" />

        </p>

    }

   
        <h2>Danh Sách Bệnh Nhân</h2>

        <p>
            @Html.ActionLink("Tạo Mới Bệnh Nhân", "Create", null,new { @class = "btn btn-primary" }) |
            
            @Html.ActionLink("Tạo Phiếu Khám", "Create", "PhieuKham",null, new { @class = "btn btn-success" })
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MaBenhNhan)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HoTen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.GioiTinh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NamSinh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoDienThoai)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DiaChi)
                </th>


                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaBenhNhan)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.GioiTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NamSinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoDienThoai)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DiaChi)
                    </td>


                    <td>
                        @Html.ActionLink("Chỉnh Sửa", "Edit", new { id = item.MaBenhNhan }) |

                        @Html.ActionLink("Chi Tiết", "Details", new { id = item.MaBenhNhan })
                    </td>
                </tr>
            }

        </table>
    </div>