@model WebDentalClinic.Models.LICHHEN
@{
    ViewBag.Title = "CreateLichHen";
    Layout = "~/Views/Shared/Layout_Nurse.cshtml";
}


<h3>Bạn chắc chắn xóa lịch hẹn này không ?</h3>
<div>
    <h4>LICHHEN</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MaLichHen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaLichHen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HoTen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HoTen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayHen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayHen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GioHen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GioHen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TinhTrang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TinhTrang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaNhanVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaNhanVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GhiChu)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "CheckLich")
        </div>
    }
</div>
