@model IEnumerable<WebDentalClinic.Models.CHITIETPHIEUKHAM>

@{
    ViewBag.Title = "ChiTietHoaDon";
    Layout = "~/Views/Shared/_LayoutDentist.cshtml";
}
<center><h2>CHI TIẾT DỊCH VỤ ĐÃ KHÁM</h2></center>
<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PHIEUKHAM.CHITIETPHIEUKHAM.DICHVU.TenDichVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHIEUKHAM.CHITIETPHIEUKHAM.DICHVU.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PHIEUKHAM.CHITIETPHIEUKHAM.SoLuong)
        </th>

        <th>
            Thành tiền
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PHIEUKHAM.CHITIETPHIEUKHAM.DICHVU.TenDichVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHIEUKHAM.CHITIETPHIEUKHAM.DICHVU.DonGia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PHIEUKHAM.CHITIETPHIEUKHAM.SoLuong)
            </td>

            <td>
                @item.PHIEUKHAM.CHITIETPHIEUKHAM.SoLuong*@item.PHIEUKHAM.CHITIETPHIEUKHAM.DICHVU.DonGia
            </td>
        </tr>

    }
    <tr>
        <td colspan="3" style="text-align:right"><strong>Tổng thành tiền = </strong></td>
        <td style="display:block"><strong>@Model.Sum(x => x.PHIEUKHAM.CHITIETPHIEUKHAM.SoLuong * x.PHIEUKHAM.CHITIETPHIEUKHAM.DICHVU.DonGia)</strong></td>
    </tr>
    <tr>
        <td>
            @Html.ActionLink("Quay lại", "TaoHoaDon")
        </td>
    </tr>
</table>