@using PagedList.Mvc;
@model PagedList.PagedList<WebDentalClinic.Models.HOADON>
@{
    ViewBag.Title = "HoaDon";
    Layout = "~/Views/Shared/Layout_Nurse.cshtml";

}
<br />
<br />
@using (Html.BeginForm("HoaDon", "Dentist", FormMethod.Get))
{
    <p style="padding-left:300px;">

        Chọn Ngày :

        @Html.TextBox("searchString", null, new { @type = "date" })
        <input type="submit" value="Tìm kiếm" class="btn btn-info" />

    </p>
}
<div class="container body-content">
    <div class="form-horizontal">
        <center><h4>HÓA ĐƠN</h4></center>


        <table class="table">
            <tr>
                <th>
                    MÃ HÓA ĐƠN
                </th>
                <th>
                    HỌ TÊN KHÁCH HÀNG
                </th>
                <th>
                    NGÀY LẬP
                </th>
                <th>
                    MÃ PHIẾU KHÁM
                </th>
                <th>
                    TỔNG TIỀN
                </th>

                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>

                    <td>
                        @Html.DisplayFor(modelItem => item.MaHoaDon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PHIEUKHAM.BENHNHAN.HoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayLap)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MaPhieuKham)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TongTien)
                    </td>
                    @*<td>
                        <div>
                            <select>
                                <option>Chưa Thanh Toán</option>
                                <option>Đã Thanh Toán</option>
                            </select>
                            @Html.ActionLink("Lưu Lại", "LưuTrangThai", new {id= item.MaHoaDon})
                        </div>
                    </td>*@

                    <td>
                        @Html.ActionLink("Xóa bỏ", "XoaHoaDon", new { id = item.MaHoaDon })|
                        @Html.ActionLink("Chi tiết", "ChiTietHoaDonDanhSach", new { id = item.MaPhieuKham })
                    </td>
                </tr>
            }

        </table>
        <br />
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("HoaDon", new { page }))
    </div>
</div>