@model IEnumerable<WebDentalClinic.Models.HOADON>

@{
    ViewBag.Title = "HoaDon";
    Layout = "~/Views/Shared/_LayoutDentist.cshtml";
}

<div class="form-horizontal">
    <center><h4>HÓA ĐƠN</h4></center>
    <hr />
    @*    <p style="margin-top:27px; margin-bottom:27px">
            @Html.ActionLink("Tạo hóa đơn mới", "TaoHoaDon", null, new { @class = "btn btn-success" })
        </p>*@
    <table class="table">
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.MaHoaDon)*@
                MÃ HÓA ĐƠN
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.PHIEUKHAM.BENHNHAN.HoTen)*@
                HỌ TÊN KHÁCH HÀNG
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NgayLap)*@
                NGÀY LẬP
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.MaPhieuKham)*@
                MÃ PHIẾU KHÁM
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.TongTien)*@
                TỔNG TIỀN
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.MaHoaDon)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PHIEUKHAM.BENHNHAN.HoTen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NgayLap)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaPhieuKham)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TongTien)
                </td>
                @*<td>
                    <div>
                        <select>
                            <option>Chưa Thanh Toán</option>
                            <option>Đã Thanh Toán</option>
                        </select>
                        @Html.ActionLink("Lưu Lại", "LưuTrangThai", new {id= item.MaHoaDon})
                    </div>
                </td>*@
                <td>
                    @Html.ActionLink("Xóa bỏ", "XoaHoaDon", new { id = item.MaHoaDon }) |
                    @Html.ActionLink("Tạo hóa đơn mới", "TaoHoaDon", new { id = item.MaHoaDon }) |
                </td>
            </tr>
        }

    </table>
</div>