@model IEnumerable<WebDentalClinic.Models.HOADON>

@{
    ViewBag.Title = "InvoiceHistory";
    Layout = "~/Views/Shared/_LayoutDentist.cshtml";
}

@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Contact.css" />
}

<div class="container contact-form">

    <center><h2>HÓA ĐƠN ĐÃ THANH TOÁN</h2></center>
    
    <hr>

    <div class="row ">


        <h2 style="color:white">Tìm hóa đơn cũ</h2>

        <div class="col-md-4">
            <div class="form-group">
                <label>Chọn ngày giờ đã thanh toán </label>
            </div>
            <select name="dateOfInvoice" style="max-width:300px; color:black; margin-top:auto">
                <option>@foreach (var item in Model) { @Html.DisplayFor(modelItem =>item.NgayLap)}</option>
            </select>

            <div class="form-group">
                <button style="width:100px; margin-left:20px; margin-top:10px" class="btn btn-primary btn-block ">Tìm kiếm</button>
            </div>
        </div>

        <div class="col-md-8">


            <table class="table" border="1">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.MaHoaDon)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.NgayLap)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PHIEUKHAM.CHITIETPHIEUKHAM2.DICHVU.TenDichVu)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PHIEUKHAM.CHITIETPHIEUKHAM2.DICHVU.DonGia)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TongTien)
                    </th>
                </tr>
                @*model lỗi*@
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <center>@Html.DisplayFor(modelItem => item.MaHoaDon)</center>
                        </td>
                        <td>
                            <center>@Html.DisplayFor(modelItem => item.NgayLap)</center>
                        </td>
                        <td>
                            <center>@Html.DisplayFor(modelItem => item.PHIEUKHAM.CHITIETPHIEUKHAM2.DICHVU.TenDichVu)</center>
                        </td>
                        <td>
                            <center>@Html.DisplayFor(modelItem => item.PHIEUKHAM.CHITIETPHIEUKHAM2.DICHVU.DonGia)</center>
                        </td>
                        <td>
                            <center>@Html.DisplayFor(modelItem => item.TongTien)</center>
                        </td>
                    </tr>
                }

            </table>

        </div>

    </div>
</div>

