@model WebDentalClinic.Models.HOADON

@{
    ViewBag.Title = "Invoice";
    Layout = "~/Views/Shared/_LayoutDentist.cshtml";
}


@section css{
    <link rel="stylesheet" type="text/css" href="~/Content/Contact.css" />
}

<div class="container contact-form">

    <h2>Hóa đơn thanh toán</h2>
    <hr>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-md-8" style="margin-left:250px">
        @*@{
                Model.NgayLap = DateTime.Now;
        }*@

        <div class="col-md-10">
            <div class="form-group">
                <label>Mã hóa đơn</label>
                <input type="text" class="form-control" style="max-width:600px;margin-left:7px" />
            </div>
            <div class="form-group">
                <label>Ngày thánh toán</label>
                <select name="dateOfExamination" style="max-width:700px; margin-bottom:7px; color:black; margin-top:auto; margin-left:7px">
                    <option>@Html.DisplayFor(model => model.NgayLap)</option>
                </select>
            </div>

            <div class="form-group">
                <label>Chọn Mã phiếu khám bệnh</label>
                <select name="dateOfExamination" style="max-width:700px; margin-bottom:7px; color:black; margin-top:auto;margin-left:7px">
                    <option>@Html.DisplayFor(model => model.MaPhieuKham)</option>
                </select>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PHIEUKHAM.NHANVIEN.MaNhanVien, htmlAttributes: new { @class = "control-label col-md-4" })

                @Html.EditorFor(model => model.PHIEUKHAM.NHANVIEN.MaNhanVien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PHIEUKHAM.NHANVIEN.MaNhanVien, "", new { @class = "text-danger" })

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.PHIEUKHAM.BENHNHAN.HoTen, htmlAttributes: new { @class = "control-label col-md-4" })

                @Html.EditorFor(model => model.PHIEUKHAM.BENHNHAN.HoTen, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PHIEUKHAM.BENHNHAN.HoTen, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PHIEUKHAM.BENHNHAN.SoDienThoai, htmlAttributes: new { @class = "control-label col-md-4" })

                @Html.EditorFor(model => model.PHIEUKHAM.BENHNHAN.SoDienThoai, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PHIEUKHAM.BENHNHAN.SoDienThoai, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PHIEUKHAM.CHITIETPHIEUKHAM2.DICHVU.TenDichVu, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="col-md-6">
                    <select name="chooseOfService" style="max-width:700px; margin-bottom:7px; color:black; margin-top:auto">
                        <option>@Html.EditorFor(model => model.PHIEUKHAM.CHITIETPHIEUKHAM2.DICHVU.TenDichVu, new { htmlAttributes = new { @class = "form-control" } })</option>
                    </select>
                </div>
                <div class="col-md-2" name="addServices_Chosen">
                    <button style="width:90px; margin-left:7px;" class="btn btn-primary btn-block">Thêm</button>
                </div>
                    
                @Html.ValidationMessageFor(model => model.PHIEUKHAM.CHITIETPHIEUKHAM2.DICHVU.TenDichVu, "", new { @class = "text-danger" })
            </div>

            <div class="form-group" style="margin-top:14px;">
                @Html.LabelFor(model => model.TongTien, htmlAttributes: new { @class = "control-label col-md-4" })

                @Html.EditorFor(model => model.TongTien, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TongTien, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <button style="width:300px; margin-left:100px; margin-top:7px" class="btn btn-primary btn-block ">Xác nhận thanh toán</button>
            </div>
        </div>

    </div>

</div>











