@model IEnumerable<WebDentalClinic.Models.CHITIETPHIEUKHAM>

@{
    ViewBag.Title = "MedicalExamination";
    Layout = "~/Views/Shared/_LayoutDentist.cshtml";
}

<h2 style="text-align:center">Chi Tiết Phiếu Khám</h2>

<div class="container body-content">



    @Html.ActionLink("Danh Sách Phiếu Khám", "MedicalExaminationList", null, new { @class = "btn btn-info" })
    @*   @Html.ActionLink("Thêm Chi Tiết Phiếu Khám", "AddChiTiet", null, new { @class = "btn btn-info" })*@

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DICHVU.TenDichVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.DICHVU.DonGia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
        </tr>

        @*Vẫn chưa có cái phiếu khám cho nó nên bị null*@

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DICHVU.TenDichVu)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuong)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DICHVU.DonGia)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GhiChu)

        </td>

        <td>
            @Html.ActionLink("Cập Nhật", "EditChiTiet", new { id = item.MaChiTietPhieuKham }) |
            @Html.ActionLink("Xóa", "DeleteChiTiet", new { id = item.MaChiTietPhieuKham })
        </td>
    </tr>
        }

    </table>
</div>

