@model IEnumerable<WebDentalClinic.Models.CHITIETPHIEUKHAM>
@{
    ViewBag.Title = "MedicalExaminationList";
    Layout = "~/Views/Shared/_LayoutDentist.cshtml";
}

<center><h2>DANH SÁCH KHÁM BỆNH</h2></center>

<hr />


@*<div class="container body-content">


    @using (Html.BeginForm("MedicalExaminationList", "Dentist", FormMethod.Get))

    {

        <p style="padding-left:100px;">

            Nhập Tên Bệnh Nhân :
            <span style="border:solid;"> @Html.TextBox("SearchString")</span>
            <input type="submit" value="Tìm kiếm" />

        </p>

    }*@

<div>

    <table class="table" border="1">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PHIEUKHAM.NHANVIEN.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHIEUKHAM.BENHNHAN.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHIEUKHAM.NgayKham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHIEUKHAM.GioKham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHIEUKHAM.NgayTaiKham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHIEUKHAM.MoTaTrieuChung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DICHVU.TenDichVu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GhiChu)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PHIEUKHAM.TinhTrang)
            </th>

            <th>
                Trạng thái
            </th>
            <th></th>
        </tr>

        @*Vẫn chưa có cái phiếu khám cho nó nên bị null*@

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.PHIEUKHAM.NHANVIEN.HoTen)</center>

                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.PHIEUKHAM.BENHNHAN.HoTen)</center>

                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.PHIEUKHAM.NgayKham)</center>

                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.PHIEUKHAM.GioKham)</center>

                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.PHIEUKHAM.NgayTaiKham)</center>

                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.PHIEUKHAM.MoTaTrieuChung)</center>

                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.DICHVU.TenDichVu)</center>

                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.GhiChu)</center>

                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.PHIEUKHAM.TinhTrang)</center>

                </td>

                <td>
                    <select name="confirm" id="confirm">
                        <option value="Confirm">Xác nhận</option>
                        <option value="Unconfirm">Chưa xác nhận</option>
                    </select>
                </td>
                <td>
                    @*@Html.ActionLink("Chỉnh sửa", "Edit", new { id = item.MaPhieuKham }) |*@
                    @Html.ActionLink("Chi tiết", "MedicalExamination", new { id = item.MaPhieuKham }) |
                    @* @Html.ActionLink("Hủy Lịch", "Cancel", new { id = item.MaPhieuKham })*@
                </td>
            </tr>
        }

    </table>
</div>
