@model IEnumerable<WebDentalClinic.Models.PHIEUKHAM>
@{
    ViewBag.Title = "MedicalExaminationList";
    Layout = "~/Views/Shared/_LayoutDentist.cshtml";
}

<center><h2>DANH SÁCH KHÁM BỆNH</h2></center>

<hr />

<div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MaPhieuKham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NHANVIEN.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BENHNHAN.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayKham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GioKham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayTaiKham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoTaTrieuChung)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TinhTrang)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.MaPhieuKham)</center>

                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.NHANVIEN.HoTen)</center>

                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.BENHNHAN.HoTen)</center>

                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.NgayKham)</center>

                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.GioKham)</center>

                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.NgayTaiKham)</center>

                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.MoTaTrieuChung)</center>

                </td>
                <td>
                    <center>@Html.DisplayFor(modelItem => item.TinhTrang)</center>

                </td>
                <td>
                    @Html.ActionLink("Chỉnh sửa", "EditPhieuKham", new { id = item.MaPhieuKham }) |
                    @Html.ActionLink("Chi tiết", "MedicalExamination", new { id = item.MaPhieuKham }) |
                    @Html.ActionLink("Tạo hóa đơn", "TaoHoaDon", new { id = item.MaPhieuKham }) |
                    @Html.ActionLink("Thêm Chi Tiết Phiếu Khám", "AddChiTiet", new { id = item.MaPhieuKham }) |
                </td>
            </tr>
        }

    </table>
</div>
