@model WebDentalClinic.Models.HOADON

@{
    ViewBag.Title = "XoaHoaDon";
    Layout = "~/Views/Shared/_LayoutDentist.cshtml";
}



<h2 class="login100-form-title" style="width:100%;">Xóa Hóa Đơn</h2>
<div class="limiter">
    <div class="col-md-12 col-sm-12">

        <div class="col-md-12 col-md-offset-4">

            <hr />
            <h4>Bạn Chắc Chắn Xóa hóa đơn này Chứ?</h4>

            <dl class="dl-horizontal">
                <dt>
                
                    Mã Hóa Đơn
                </dt>

                <dd>
                 
                    @Html.DisplayFor(model => model.MaHoaDon)
                </dd>

                <dt>
                   
                    Ngày Lập
                </dt>

                <dd>
                   
                    @Html.DisplayFor(model => model.NgayLap)
                </dd>
                <dt>
                  
                    Mã Phiếu Khám
                </dt>

                <dd>
                   
                    @Html.DisplayFor(model => model.MaPhieuKham)
                </dd>

                <dt>
                   
                    Bệnh Nhân
                </dt>


                <dd>
                    @Html.DisplayFor(model => model.PHIEUKHAM.BENHNHAN.HoTen)
                </dd>
                <dt>
                    Tổng Tiền
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.TongTien)
                </dd>
            </dl>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            @Html.ActionLink("Danh Sách Hóa Đơn", "HoaDon", new { @class = "btn btn-info" }) |
            <input type="submit" value="Xóa Hóa Đơn" class="btn btn-danger" />
        </div>
            }
        </div>
    </div>
</div>
